/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE ------------------------------------------------------ */

* {
  text-decoration: none;
}

body {
  background-color: #FAFAFA;
}


/* HEADER ------------------------------------------------------- */

header {
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.08em;
  color: #36363c;
  text-transform: uppercase;
  margin: 0px 0px 0px 15px;
  display: block;
}

.header-nav {
  display: flex;
  margin-right: 30px;
}

.header-nav a {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  color: #36363c;
  letter-spacing: 0.08em;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  header {
    height: 30px;
  }

  .logo {
    font-size: 16px;
  }
  
  .header-nav {
    margin-right: 0px;
  }

  .header-nav a {
    font-size: 12px;
    color: #95a5a6;
  }
}

/* ABOUT ------------------------------------------------------- */

.section-about {
  width: 100%;
  background-color: #ea6d6d;
  height: 350px;
  justify-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  margin-bottom: 30px;
  width: 200px;
}

.intro {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: #FFF;
}

/* EXPERIENCE ------------------------------------------------------- */

.main-inner {
  display: flex;
  flex-flow: row ;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #333;
  margin-top: 20px;
}

.section-experience {
  width: 800px;
}

.exp-label {
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  color: #34495e;
}

.exp-icon {
  width: 50px;
  float: left;
  display: block;
  margin-left: -75px;
}

.right {
  float: right;
}

@media only screen and (max-width: 965px) {
  .main-inner {
    padding: 0px 10px;
  }

  .exp-icon {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .right {
    display: none;
  }
}

/* FOOTER ------------------------------------------------------- */

.footer-inner {
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.08em;
  color: #36363c;
  margin: 0px 0px 0px 15px;
  display: block;
}

footer ul {
  list-style: none;
}

.footer-nav {
  display: flex;
  margin-right: 30px;
}

.footer-nav a {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  color: #36363c;
  letter-spacing: 0.08em;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 680px) {
  .copyright {
    margin: 0 auto;
  }

  .footer-nav {
    margin: 0 auto;
  }
}